.row.justify-content-center.login {
    justify-content: center !important;
    margin-top: 3.8rem;
}

.row.justify-content-center.register {
    justify-content: center !important;
    margin-top: 3.8rem;
}

.row.justify-content-center.email {
    justify-content: center !important;
    margin-top: 3.8rem;
}

.row.justify-content-center.forgot-password {
    justify-content: center !important;
    margin-top: 3.8rem;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
    margin-top: 1.9rem;
}

table.dataTable tbody tr {
    background-color: rgba(255, 255, 255, 0.05);
}

.content-right {
    text-align: end;
    margin-top: -10px;
    margin-bottom: 10px;
}

.developer {
    margin-top: 1.5rem;
}

.card-body.book {
    flex: 1 1 auto;
    padding: 1.25rem;
    background: white;
    color: black;
}

p.card-text.title {
    margin-top: 0;
    margin-bottom: 0;
}

small.author {
    margin-bottom: 1rem;
}

p.card-text.description {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

.btn.btn-sm.btn-outline-secondary.view:hover {
    color: #fff;
    border-color: #DF691A;
    background-color: #DF691A;
}

.btn.btn-sm.btn-outline-secondary.update-book:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #ea9214;
}

.btn.btn-sm.btn-outline-secondary.delete-book:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.text-muted.dark {
    color: rgba(0, 0, 0, 0.71) !important;
}

.btn.btn-sm.btn-outline-secondary.back:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.pt-5,
.py-5 {
    padding-top: 1rem !important;
}

.row.search {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
    margin-bottom: -20px;
}

.btn.btn-primary.facebook {
    color: #fff;
    background-color: #4e71ba;
    border-color: #4e71ba;
}

.btn.btn-primary.facebook:hover {
    color: #fff !important;
    background-color: #2f55a4 !important;
    border-color: #2f55a4 !important;
}

.btn.btn-primary.linkedin {
    color: #fff;
    background-color: #4682b4;
    border-color: #4682b4;
}

.btn.btn-primary.linkedin:hover {
    color: #fff !important;
    background-color: #1293d2 !important;
    border-color: #1293d2 !important;
}

.btn.btn-primary.github {
    color: white !important;
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn.btn-primary.github:hover {
    color: #fff !important;
    background-color: #13aff0 !important;
    border-color: #13aff0 !important;
}

.total-books {
    margin-top: -10px;
    margin-bottom: 10px;
}

.toast {
    max-width: 350px;
    overflow: hidden;
    font-size: 0.875rem;
    background-color: rgba(17, 226, 120, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: 0.25rem;
}